body {
  color: #888888;
  font-family: "Josefin Sans", sans-serif;
}

.bg-primary {
  background-color: #37C8C3 !important;
}

.bg-white-09 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-white-025 {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.btn {
  border-color: rgba(255, 255, 255, 0.1);
}

.text-divider {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-divider::before, .text-divider::after {
  content: '';
  width: 36px;
  height: 3px;
  background-color: #CCDCDC;
  margin: 0 15px;
}

.css-julti5-MuiSwitch-root {
  padding: 14px 12px !important;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: #aaaaaa !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #35c8c3 !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #35c8c3 !important;
}

.css-jsexje-MuiSwitch-thumb {
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}

.box-decoration {
  background: url('/images/balance.png') bottom right / cover no-repeat;
}

.btn-menu {
  opacity: 0.6;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menu img {
  height: 20px;
  width: auto;
}

.btn-hightlight {
  opacity: 1;
  position: relative;
  background-color: #37C8C3;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.btn-hightlight img {
  height: 48px;
  max-width: unset !important;
  margin-left: 10px;
  position: absolute;
}

.btn-circle-active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 6px 8px 6px rgb(0 0 0 / 2%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}